<link rel="stylesheet" href="/css/shop.css"> 

<div class="search-container">
    <input type="text" id="searchInput" placeholder="Search...">
    <button id="searchButton">Search</button>
</div>

<div class="home-container">
    <div class="store-info">
        <% if (store) { %>
            <h3>Store Information</h3>
            <p>Address: <%= store.address %></p>
            <p>GST: <%= store.gst %></p>
            <p>Category: <%= store.category %></p>
        <% } %>
    </div>

    

    <div class="product-list">
        

        <% if (products.length > 0) { %>
            <% products.forEach(function(product) { %>
                <div class="product-card">
                    <% product.images.forEach(function(image) { %>
                        <img src="<%= image %>" alt="Product Image">
                    <% }); %>
                    <h3><%= product.productName %></h3>
                    <p>MRP: <%= product.MRP %></p>
                    <p>SP: <%= product.SP %></p>
                    <p>Quantity: <%= product.quantity %></p>
                    <button>Add to Cart</button>
                </div>
            <% }); %>
        <% } else { %>
            <p>No products available</p>
        <% } %>
    </div>
</div>

<script src="js/home"></script>
